react/my-app/node_modules
react/my-app/node_modules
react/my-app/.pnp
react/my-app/.pnp.js

# testing
react/my-app/coverage

# production
/build

component/node_modules
component/.pnp
component/.pnp.js

vanillajs-component/node_modules

react/my-app1/node_modules
react/my-app2/node_modules
react/my-app3/node_modules
react/*/node_modules
*/*/node_modules
*/*/*/node_modules