div {
    font-size: 20px;
    background-color: aqua;
}

.apple{
    background-color: blue;
    border-width: 2px;
}

.banana {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.box{
    height: 200px;
    background-color: blueviolet;
    border-color: brown;
    text-align: center;
}